h1 {
  padding-left: 10px;
  color: #c0b283;
  font-family: 'Abril Fatface', cursive;
  display: inline;
}

body {
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

#space {
  background-color: #fff;
  height: 75px;
}

#share-buttons img {
  width: 60px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  padding-bottom: 20px;
  text-decoration: none !important;
}

#share-buttons img:hover {
  width: 70px;
  padding: 5px;
  padding-bottom: 10px;
  border: 0;
  box-shadow: 0;
  display: inline;
  text-decoration: none !important;
}

#bottom {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding-top: 30px;
  height: 100vh;
}

#link {
  width: 18px;
  padding: 3px;
  padding-bottom: 6px;
}

#link:hover {
  width: 24px;
  padding-bottom: 0px;
}

p {
  width: 60%;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  margin-bottom: 2px;
}

h2 {
  color: #dcd0c0;
  width: 60%;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  padding-top: 2px;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: #373737;
}

.nav-link:hover {
  color: #f4f4f4;
  background-color: #373737;
}

#video {
  display: block;
  border: 5px solid #f4f4f4;
}

#video-border {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 570px;
  height: 325px;
  border: 5px solid #373737;
}

#lmu {
  padding-top: 5px;
  padding-right: 5px;
  height: 36px;
  display: inline;
  float: right;
}

#banner {
  border-bottom: 2px solid #ddd;
  position: fixed;
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: #fff;
  display: inline;
}
