h1 {
  padding-left: 10px;
  color: #c0b283;
  font-family: 'Abril Fatface', cursive;
}

body {
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

#space {
  height: 75px;
}

#bottom {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding-top: 50px;
  height: 100vh;
}

p {
  width: 60%;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  color: #dcd0c0;
  width: 60%;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  color: #373737;
}

.nav-link:hover {
  color: #f4f4f4;
  background-color: #373737;
}

#video {
  display: block;
  border: 5px solid #f4f4f4;
}

#video-border {
  margin: 50px;
  width: 570px;
  height: 325px;
  border: 5px solid #373737;
}

#banner {
  position: fixed;
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: #fff;
}
